<%- include('partials/header') %>
<link rel="stylesheet" href="/css/product.css">
<script src="/js/product.js" defer></script>

    <main>
        <div class="router-top-container">
            <a href="/" class="router-top">Accueil</a>
            <img src="/images/arrow-up.svg" alt="arrow" class="router-arrow">
            <a href="/catalogue" class="router-top">Catalogue</a>
            <img src="/images/arrow-up.svg" alt="arrow" class="router-arrow">
            <a href="#" class="router-top"><%= coffee.name %></a>
        </div>


        <div class="product-container">
            <img src="/images/cafe-database/<%= coffee.name %>.jpg" alt="img-Espresso" class="product-img">
            <div class="product-card-container">
                <div class="product-title-date-container">
                    <h3 class="card-title"><%= coffee.name %></h3>
                    <div class="product-date-ref-container">
                        <p class="product-ref">Ref : <%= coffee.reference %></p>
                        <p class="product-date">Ajouté le <%= coffee.created_at.toLocaleDateString('fr-FR', { day: '2-digit', month: '2-digit' , year: 'numeric' }) %></p>
                    </div>
                </div>
                <p class="card-origine"><strong>Origine : </strong><%= coffee.origin.name %></p>
                <p class="cart-description"><strong>Description : </strong><%= coffee.description %></p>
                <p class="card-carac"><strong>Caractéristique : </strong><%= coffee.caracteristic.carac %></p>
                <p class="card-price"><strong>Prix au kilo : </strong><%= new Intl.NumberFormat('fr-FR', { style: 'currency', currency: 'EUR' }).format(coffee.price_kilo) %></p>
                <p class="card-dispo"><strong>Disponible : </strong><%= coffee.disponibility.dispo %>
                <p class="card-conditionnemennt"><strong>Conditionnement : </strong> Paquet de 1 kg


                    <div class="card-qty-container">
                        <quantity-input class="qty-container">

                          <label class="hidden" for="qty-input qty-submit"></label>
                          <div class="qty-input-container">

                            <button type="button" class="qty-input-btn btn-minus" name="minus">
                              <span class="visually-hidden">-</span>
                            </button>

                            <input type="number" class="qty-input" id="qty-input" name="quantity" min="1" value="1">
                            
                            <button type="button" class="qty-input-btn btn-plus" name="plus">
                              <span class="visually-hidden">+</span>
                            </button>

                          </div>
                        </quantity-input>
                        
                        <div class="card-add_to_cart-container">
                            <button type="submit" name="qty-submit" class="card-add_to_cart-btn">Ajouter au panier</button>
                        </div>

                    </div>

            </div>
        </div>
    </main>
  
<%- include('partials/footer') %>
